{% extends "layout.html" %}

{% block title %}
  Haushalte von Bund, Ländern und Kommunen
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<!--img src="/static/img/schaeuble.png" class="img-responsive home-image" style="position: absolute;"-->
			<div class="row welcome">
				<div class="col-xs-12 col-md-7">
					<p class="claim">
                        The Open APC initiative release datasets on fees paid for Open Access journal articles by german universities and research institutions under an Open Database License.
					</p>
					<div id="default-welcome">
						<p>
                            Select a state from the map or the list below to view APC data for individual institutions or inspect the <a href="/apcdata/openapc">full dataset</a>.
						</p>
					</div>
					<div id="listing"></div>
				</div>
				<div class="col-xs-12 col-md-5">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	

	<script id="listing-template" type="text/x-handlebars-template">{% raw %}
		{{#if has_sites}}
			<p>
				The following institutions from <strong>{{state.name}}</strong> have contributed to the Open APC project:</p>
			<ul>
				{{#each sites}}
					<li><strong><a href="/apcdata/{{slug}}">{{name}}</a></strong></li>
				{{/each}}
			</ul>
		{{/if}}
		{{#if no_sites}}
			<p>
				There are no contributing institutions from <strong>{{state.name}}</strong> yet.
			</p>
		{{/if}}
		<p>
			<strong>Ist ihre Kommune oder ihr Bundesland nicht verfügbar?</strong> 
			<a href="/page/mitmachen.html">Machen Sie mit</a>, und erschließen Sie
			weitere Haushaltsdaten für OffenerHaushalt.
		</p>
	{% endraw %}</script>

	<hr>
	<div class="row dataset-listing">
		<div class="col-xs-12">
			<div class="row">
			{% for site in local_sites|sort(attribute='name') %}
				<div class="col-xs-12 col-md-4">
					<h3><a href="{{url_for('site', slug=site.slug)}}">{{site.name}}</a></h3>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script id="sites-data" type="application/json">{{sites_json | safe }}</script>
    {% assets filters="uglifyjs", output="gen/home.%(version)s.js",
        "js/home.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}

