{% extends "site.html" %}

{% block body %}
<div style="overflow:hidden">
  <div class="row">
    <a class="pull-left col-md-1 btn btn-default btn-sm" style="margin-left: 15px" id="parent"><strong><i class="fa fa-level-up"></i> Parent Level</strong></a>
    <div class="pull-right col-md-2 site-menu site-filters">
      <div class="btn-group btn-group-sm pull-right">
        <a class="btn btn-default"><strong>Filter:</strong></a>
          {% for filter in site.filters %}
            <div class="btn-group btn-group-sm">
              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{filter.name}}: <strong data-field="{{filter.field}}">{{filter.default}}</strong>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% if filter.nullable %}
                  <li>
                    <a class="value {% if value==filter.default %}active{% endif %}" href="#"
                      data-field="{{filter.field}}" data-value="">
                      <i class="fa fa-check"></i> Alle
                    </a>
                  </li>
                {% endif %}
                {% for value in filter.values %}
                  <li>
                    <a class="value {% if value==filter.default %}active{% endif %}" href="#"
                      data-field="{{filter.field}}" data-value="{{value.key}}">
                      <i class="fa fa-check"></i> {{value.label}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="treemap"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="table"></div>
    </div>
  </div>
</div>
{% endblock %}
