{% extends "layout.html" %}

{% block title %}
  Collect and disseminate information on fee-based Open Access publishing 
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<div class="row welcome">
				<div class="col-xs-12 col-md-6">
					<p class="claim">
                        The Open APC initiative releases datasets on fees paid for Open Access journal articles by universities and research institutions under an Open Database License.
					</p>
					<div id="default-welcome">
						<p>
                            Select a region from the map or use the list below to view APC data for individual institutions.<br />You may also browse the <a href="/apcdata/openapc">full dataset</a>.
						</p>
					</div>
					<div id="listing"></div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	

	<script id="listing-template" type="text/x-handlebars-template">{% raw %}
		{{#if no_sites}}
			<p>
				There are no contributing institutions from <strong>{{country.name}}</strong> yet.
			</p>
        {{else}}
            {{#if list_sites}}
                <p>
                    The following institutions from <strong>{{country.name}}</strong> have contributed to the Open APC project:
                </p>
                <ul>
                    {{#each sites}}
                        <li><strong><a href="/apcdata/{{slug}}">{{name}}</a></strong></li>
                    {{/each}}
                </ul>
            {{else}}
                {{#if only_one}}
                <p>
                    <strong>1</strong> institution from <strong>{{country.name}}</strong> has contributed to the Open APC project. Click on the country for details.
                </p>
                {{else}}
                <p>
                    <strong>{{length}}</strong> institutions from <strong>{{country.name}}</strong> have contributed to the Open APC project. Click on the country for details.
                </p> 
                 {{/if}}
            {{/if}}
        {{/if}}
		<p>
			<strong>Is your institution paying article processing charges for gold open access publishing?</strong> 
			<a href="https://github.com/OpenAPC/openapc-de/wiki/Handreichung-Dateneingabe">Join the OpenAPC Initiative</a>, and help building an open data set on publishing fees!
		</p>
	{% endraw %}</script>

	<hr>
	<div class="row dataset-listing">
		<div class="col-xs-12">
			<div class="row">
			{% for site in local_sites|sort(attribute='name') %}
				<div class="col-xs-12 col-md-4">
					<h3><a href="{{url_for('site', slug=site.slug)}}">{{site.name}}</a></h3>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script id="sites-data" type="application/json">{{sites_json | safe }}</script>
    {% assets filters="uglifyjs", output="gen/home.%(version)s.js",
        "js/home.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
{% endblock %}

