{% extends "base.html" %}

{% block body %}
  <div id="page">
    <nav class="navbar navbar-default" role="navigation" id="menu">
      <div class="container relbox">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/static/img/openapc_logo_small.png" alt="OpenAPC logo" /></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/page/about.html">About</a>
            </li>
            <li>
              <a href="https://olap.intact-project.org">OLAP Server</a>
            </li>
            <li>
              <a href="https://github.com/OpenAPC/openapc-de">GitHub</a>
            </li>
            <li>
              <a href="https://intact-project.org">INTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="airlock" class="container">
      <div class="row">{% block content %}This page intentionally left blank.{% endblock %}</div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 hidden-xs">
          <a class="logo" href="http://intact-project.org">
            <img src="/static/img/intact_logo_small.png" alt="INTACT Logo" />
          </a>
        </div>
        <div class="col-sm-4 hidden-xs">
          <a class="logo" href="http://www.ub.uni-bielefeld.de">
            <img src="/static/img/logoverbund_ub.png" alt="UB Bielefeld Logo" />
          </a>
        </div>
        <div class="col-sm-5 hidden-xs">
          <p>This site is based on the project <a href="http://offenerhaushalt.de">OffenerHaushalt</a> by the <a href="http://okfn.de">Open Knowledge Foundation Germany</a>.</p>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}
